body {
  font-size: 16px;
  font-weight: normal;
  color: black;
  font-family: 'Heebo', sans-serif;
  direction: rtl;
  background-color: #f4f4f4;
  * {
    box-sizing: border-box;
    font-family: 'Heebo', sans-serif;
  }

}

$color-blue: #09008b;
$color-gray: #4a4a4a;