#dash_asaid {
	position: relative;
	padding: 21px 0;
	text-align: right;
	display: flex;
	justify-content: space-between;
	flex-flow: column;
	top: 0;
	right: 0;
	width: 200px;
	height: 100vh;
	background-color: #ffffff;
	box-shadow: 0 0 12px 0 rgba(113, 113, 113, 0.5);
	.header_nenu {
		display: none;
	}
	.asaid_logo {
		margin-bottom: 29px;
		text-align: center;
	}
	.asaid_menu {
		list-style: none;
		margin: 0;
		padding: 0;
		max-height: calc(100vh - 320px);
		overflow-y: scroll;
		
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
		}
		
		a {
			text-decoration: none;
		}
		
	}
	.asaid_li:first-child .asaid_a {
		border-top: 1px solid rgba(151, 151, 151, 0.19);
	}
	
	.asaid_li {
		cursor: pointer;
		position: relative;
		transition: background 0.1s ease, transform 0.5s ease;
		svg {
			position: absolute;
			left: 10px;
			top: 10px;
			transition: rotate 0.1s ease, transform 0.5s ease;
		}
		&.has_child ul {
			display: none;
		}
		&.has_child ul .asaid_sub_li {
			background-color: rgba(255, 255, 255, 0.9);
			.asaid_a {
				color: #4a4a4a !important;
			}
		}
		&.has_child ul .asaid_sub_li:hover {
			background-color: rgba(255, 255, 255, 0.85);
		}
		.asaid_a {
			font-size: 16px;
			line-height: 1.91;
			margin: 0 5px;
			border-bottom: 1px solid rgba(151, 151, 151, 0.19);
			display: block;
			padding: 0px 5px;
		}
		.asaid_a:hover, .active_menu .asaid_a {
			color: #ffffff !important;
			svg {
				fill: #ffffff !important;
			}
		}
		&.active {
			.asaid_a {
				color: #ffffff;
			}
			
			.asaid_sub_li {
				.asaid_a {
					color: #000000;
					font-size: 14px;
					line-height: 1.96;
				}
			}
		}
		&.active_menu {
			span.asaid_a {
				color: #ffffff !important;
				svg {
					fill: #ffffff !important;
					transform: rotate(180deg);
				}
			}
		}
	}
	
	.text-header {
		display: none;
		font-size: 16px;
		border-top: 1px solid rgba(151, 151, 151, 0.19);
		padding: 12px 20px;
		
		.header_sub_title {
			display: block;
		}
		
		.header_title {
			font-size: 20px;
			font-weight: 500;
			line-height: 1.3;
			display: inline-block;
			margin-left: 8px;
		}
		
		svg {
			path {
				fill: black;
			}
		}
		
	}
	
	.menu_toggle_holder {
		display: none;
		padding: 0 20px;
		margin-bottom: 15px;
	}
	
	.contact_login {
		display: none;
		font-size: 16px;
		border-top: 1px solid rgba(151, 151, 151, 0.19);
		padding: 12px 20px;
		
		.logout_container {
			margin-top: 5px;
			
			svg {
				path {
					fill: rgba(black, 0.3);
				}
			}
			
			a {
				display: inline-flex;
				align-items: center;
				
				span {
					vertical-align: middle;
				}
				
				.icon {
					line-height: 1;
					margin-left: 3px;
				}
				
			}
		}
		
	}
	
	.notifications_holder {
		display: none;
		border-top: 1px solid rgba(151, 151, 151, 0.19);
		
		.contact_flash_link {
			padding: 12px 20px;
			color: #4DA1FF;
			display: flex;
			align-items: center;
			cursor: pointer;
		}
		
		.icon {
			display: inline-block;
			position: relative;
			margin-left: 8px;
			
			.num_flash {
				background-color: red;
				color: white;
				font-size: 1em;
				border-radius: 100%;
				line-height: 1;
				padding: 5px 8.5px;
				display: inline-block;
				letter-spacing: 0;
				position: absolute;
				right: -11px;
				top: -11px;
				transform: scale(0.7);
			}
			
			svg {
				height: 1.2em;
				width: auto;
				
				g g {
					fill: #4DA1FF;
				}
			}
		}
		
	}
	
	.chat {
		text-align: center;
		font-size: 18px;
		color: #ff3702;
		width: 100%;
		span {
			display: block;
		}
	}
	
	@media all and (max-width: 1140px) {
		position: fixed;
		right: 0;
		top: 0;
		z-index: 999;
		opacity: 0;
		width: 85%;
		max-width: 500px;
		padding: 0;
		pointer-events: none;
		text-align: initial;
		transform: translateX(100%);
		transition: transform 0.5s ease, opacity 0.3s ease;
		
		&.is_active {
			pointer-events: all;
			transform: translateX(0);
			opacity: 1;
		}
		
		> div {
			padding: 21px 0;
			overflow: auto;
		}
		
		.asaid_logo,
		.chat {
			display: none;
		}
		
		.notifications_holder,
		.menu_toggle_holder,
		.contact_login,
		.text-header {
			display: block;
		}
		
		.asaid_menu {
			max-height: none;
			
		}
		
		.asaid_li {
			.asaid_a {
				font-size: 16px;
				line-height: 1;
				margin: 0;
				padding: 12px 20px;
				border-bottom: 1px solid rgba(151, 151, 151, 0.19);
				display: block;
				color: black;
			}
		}
	}
	
	@media all and (max-width: 710px) {
		.text-header {
			font-size: 14px;
			
			.header_title {
				font-size: 16px;
			}
		}
	}
	
}

