.flashes_div {
  overflow-y: scroll;
  position: fixed;
  left: 0;
  width: 396px;
  height: 100vh;
  direction: ltr;
  background-color: #ffffff;
  box-shadow: 0 24px 24px 0 rgba(0, 0, 0, 0.24), 0 0 24px 0 rgba(0, 0, 0, 0.18);
  transform: translateX(-100%);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.5s ease;

  &.is_active {
	transform: translateX(0);
	opacity: 1;
	pointer-events: all;
  }

  .top_falsh {
	display: flex;
	justify-content: space-between;
	padding: 35px 0px 20px 15px;
	border-bottom: solid 1px #979797;
	direction: rtl;
  }

  .flash_group {
	padding: 0 15px 15px 15px;
	direction: rtl;
  }
  .fladh_date {
	color: #4da1ff;
	font-size: 22px;
	font-weight: 500;
	line-height: 2.1;
  }
  .flash_item {
	border-radius: 3px;
	background-color: #e8e8e8;
	opacity: 0.36;
	padding: 12px;
	padding: 5px 13px 13px 13px;
	margin-bottom: 19px;

	&.important_flash {
	  opacity: 1;
	}
	.flash_item_titles {
	  color: #080088;
	  font-size: 17px;
	  display: flex;
	  justify-content: space-between;
	  .f_item_title {

	  }
	  .f_item_time {

	  }
	}
	.f_item_text {
	  color: #000000;
	  font-size: 15px;
	}
  }

  @media all and (max-width: 710px) {
	max-width: 90%;
  }

}