<header id="xda-header" role="banner">
    <div class="container">
        <div class="header-inner">
            <div class="float-left">
                <h1><i class="sl-icon-energy"></i>XDA</h1>
            </div>
            <div class="float-right">
                <nav role="navigation">
                    <ul>
                        <li class="float-right"><a v-scroll-to="'#xda-page'" class="active">{{ $t('home_header_title') }}</a></li>
                        <li class="float-right"><a v-scroll-to="'#xda-about'">{{ $t('about_header_title') }}</a></li>
                        <li class="float-right"><a v-scroll-to="'#xda-contact'">{{ $t('about_contact_title') }}</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>