.button {
     transition: box-shadow .3s;
    border: none;
    background-color: $color-blue;
    color:#ffffff;
    border-radius: 5px;
    box-shadow: 0 11px 15px 0 rgba(0, 0, 0, 0.2), 0 9px 46px 8px rgba(0, 0, 0, 0.12), 0 24px 38px 3px rgba(0, 0, 0, 0.14);
    &.is-full-width {
      width: 100%;
      display: block;
    }
  }

.button:hover {
  box-shadow:none;
}

.contact_flash {
  background: transparent;
  border: none;
  border-right: solid 2px rgba(255, 255, 255, 0.3);
  border-left: solid 2px rgba(255, 255, 255, 0.3);
  padding: 0px 30px;
  margin-left: 35px;
  position: relative;
  .num_flash {
    width: 20px;
    height: 20px;
    border-radius: 108px;
    background-color: #f33300;
    display: block;
    position: absolute;
    right: 23px;
    top: -8px;
    color: #ffffff;
    font-weight: 500;
  }
}
.flashes_clouse{
  background: transparent;
  border: none;
}