.field{
  &.is-full-width {
    width: 100%;
    display: block;
  }
}
.input {
  border-radius: 5px;
  border: solid 1px #979797;
  line-height: 46px;
  font-size: 18px;
  padding-right: 15px;
  width: 100%;
}

.label_for{
  font-size: 16px;
  color:$color-gray;
  padding-top: 4px;
  padding-bottom: 4px;
  display: block;
}
@media (max-width:1200px){
  .input{
    line-height: 34px;
  }
}

@media (max-width:767px){
  .input{
    line-height: 32px;
  }
  .field{
    .label_for{
      color:$color-blue;
    }
  }
}