
.flashes_div::-webkit-scrollbar {
  width: 12px;
  height: 10px;

}

.flashes_div::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  -webkit-border-radius: 7px;
  background-color: rgba(0, 0, 0, 0.15);
  background-color: #080088;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}

.flashes_div::-webkit-scrollbar-button {
  width: 0;
  height: 0;
  display: none;
}

.flashes_div::-webkit-scrollbar-corner {
  // background-color: transparent;
}

.asaid_menu::-webkit-scrollbar {
  display: none;
}