.slick-dots li button:before{
  content: '';
  background-color: #cfcfcf;
  border-radius: 180px;
  width: 9px;
  height: 9px;
  opacity: 1;
}
.slick-dots li{
  width: 0;
  height: 9px;
  padding: 9px;
  margin: 0;
}
.slick-dots{
  text-align: left;
  position: absolute;
  bottom: 0;
  left: 0;
}
.slick-dotted.slick-slider{
  margin-bottom: 0px;
}
.slider_continrt{
  width: 100%;
  position: relative;
  #pause_play{
    position: absolute;
    top: 0;
    left: 14px;
    height: 15px;
    width: 15px;
    background: transparent;
    z-index: 999;
    border: none;
  }
}