@import '../../../assets/styles/_colors.scss';
@import '../../../assets/styles/_variables.scss';

#xda-footer {
  direction: ltr;
  padding: 7em 0;
  float: left;
  width: 100%;
  position: relative;
  color: rgba(255,255,255,.4);
  background: lighten($brand-black, 15%);
  text-align: center;

  @media screen and (max-width: 992px) {
    padding: 3em 0;
  }
  h2, h3, h4 {
    display: block;
    color: rgba($brand-white,.8);
    width: 100%;
  }
  h3 {
    font-size: 18px;
  }
  [class*="col"] {
    padding-bottom: 30px;
  }
  .btn {
    color: $brand-white;
  }
  .float {
    float: left;
    margin-right: 10%;
  }
  a {
    color: rgba(255,255,255,.4);
    text-decoration: none!important;
    display: block;
    margin-bottom: 5px;
    &:hover {
      color: $brand-white;
    }
  }
  .xda-social {
    i{
      font-size: 20px;
      width: 30px;
    }
  }
}