@import '../../../assets/styles/_colors.scss';
@import '../../../assets/styles/_variables.scss';

#fh5co-footer {
  direction: ltr;
  padding: 7em 0;
  float: left;
  width: 100%;
  position: relative;
  background: lighten($brand-black, 15%);
  @media screen and (max-width: 992px) {
    padding: 3em 0;
  }
  h2, h3, h4 {
    display: block;
    color: rgba($brand-white,.8);
  }
  h3 {
    font-size: 18px;
  }
  [class*="col"] {
    padding-bottom: 30px;
  }
  .btn {
    color: $brand-white;
  }
  .float {
    float: left;
    margin-right: 10%;
  }
  ul {
    padding: 0;
    margin: 0;
    li {
      padding: 0;
      margin: 0 0 10px 0;
      list-style: none;
      a {
        color: rgba(255,255,255,.4);
        text-decoration: none!important;
        &:hover {
          color: $brand-white;
        }
      }
    }
  }
  .fh5co-social {
    li {
      display: block !important;
      a{
        font-size: 16px;
      }
      i{
        float: left;
        font-size: 20px;
        width: 40px;
      }
    }
  }
}