@import '../../assets/styles/_colors.scss';
@import '../../assets/styles/_variables.scss';

$brand-white: #fff;

#fh5co-page {
  position: relative;
  z-index: 2;
  background: $brand-white;
}
// Offcanvas Menu
#fh5co-offcanvas, .fh5co-nav-toggle, #fh5co-page {
  @include transition(.5s);
}
#fh5co-offcanvas, .fh5co-nav-toggle, #fh5co-page {
  position: relative;
}
#fh5co-page {
  z-index: 2;
  @include transition(.5s);
  .offcanvas-visible & {
    @include fh5co-translate(-275px);
  }
}
