@import '_colors.scss';

body,
html{
    background-color: $bg-color;
    direction: rtl;
    height:100%;
}
.card {
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.16), 0 0 0 1px rgba(0, 0, 0, 0.08);
    transition: box-shadow 200ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .card-header{
      background-color: transparent;
  }
  table{
      direction: rtl;
  }
  th,
td,
h2,
h6 {
  text-align: right;
}

td,
a {
  cursor: pointer;
}
.rtl {
  direction: rtl;
}

//Shai
#dash_asaid .hamburger-inner,
#dash_asaid .hamburger-inner::before,
#dash_asaid .hamburger-inner::after,
.background-color,
.slick-dots li.slick-active button:before,
.asaid_li:hover,
.active_menu {
    background-color: #080088 !important;
}

.asaid_sub_li:hover {
    background-color: rgba(255, 255, 255, 0.85);
}

.important_links .im_link_li a:hover,
.font-color,
.asaid_sub_li:hover .asaid_a,
.asaid_li .asaid_a,
#dash_asaid .asaid_li.has_child ul .asaid_sub_li:hover .asaid_a,
.asaid_a svg {
    fill: #080088 !important;
    color: #080088 !important;
}

.hamburger.has_notifications .hamburger-box:before,
.border-color {
    border-color: #080088 !important;
}

.important_links .im_link_li a:hover svg g,
.important_links .im_link_li a:hover svg path {
    fill: #080088 !important;
}
.card-form{
    width: 80%;
    padding:0.3rem;
    box-shadow: 0 9px 13px 0 rgba(0, 0, 0, 0.2), 0 7px 37px 6px rgba(0, 0, 0, 0.12), 0 20px 31px 3px rgba(0, 0, 0, 0.14);
}
.btn-link{
    text-decoration: none;
}