@import "0-base/restart";
@import "0-base/fonts";
@import "0-base/base";
@import "1-pages/login";
@import "3-components/button";
@import "3-components/field";
@import "3-components/title";
@import "4-layout/auth-pages";
@import "4-layout/error-pages";
@import "5-optimus/optimus-fonts";

body[dir="rtl"] {
  text-align: right;
  direction: rtl;
}

.lobby-card {
  display: flex;
  background-color: var(--white);
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.16);
  margin: 8px 0;
  padding: 19px 19px;
  min-height: 20px;
  min-width: 20px;
  
}

.chart-title{
  font-weight: normal;
}

.optimus-scroller::-webkit-scrollbar {
  height: 8px;
  background-color: #dedede;
  border-radius: 8px;
  }
  .optimus-scroller::-webkit-scrollbar-button{
  width: 0;
  height: 0;
  display: none;
  }

  .optimus-scroller::-webkit-scrollbar-thumb {
  // border: 4px solid transparent;
  background-clip: padding-box;
  -webkit-border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.15);
  background-color: #080088;
  -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}